.navbar{
    border: 2px solid #000;
    padding: 10px;
    background-color: #f0f0f0;
    min-height: 70px;
    max-height: 100px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: zen-dots, sans-serif;
}


.name{
    font-family: 'Zen Dots', cursive;
    font-size: 36px;
    color: #333;
}

.navbar a{
    float: left;
    display: block;
    color: black;   
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

.navbar a.active{
    color: black;  
    border-bottom: 2px solid black; 
}

.myname img{
    min-height: 60px;
    max-height: 70px;
    width: auto;
}

.FaceBookbtn{
    background-color:#00BFFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #000;
    cursor: pointer;
}

.Instagrambtn{
    background-color:#FF4081;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #000;
    cursor: pointer;
}