@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-space{
  padding: 20px 100px;
  display: flex;           
  gap: 20px;
  align-items: stretch;     
  min-height: 320px;        
}



@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .navigation {
    display: flex;
  }
}

/* Styles for screens wider than 1024px (e.g., laptops and larger desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .sidebar {
    width: 200px;
  }
}