
.left-side{
  padding: 40px 30px;
  font-family: "zen-dots", sans-serif;
  color: #000;
  box-sizing: border-box;
}

.left-side .name{
  font-size: 48px;
  font-weight: 700;
  margin: 8px 0 0;
}

/* right-side (image) */
.right-side{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.right-side img{
  width: 200%;
  max-width: 700px;
  min-width: 400px;
  height: auto;
  rotate: 8deg;
  /* border-radius: 10px;
  border: 5px solid #000;
  box-shadow: 0 6px 0 #000; */
}

/* grid layout */
.parent-namepart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  align-items: start;
}
/* right-side */
.right-side { grid-area: 1 / 2 / 3 / 3; }
/* left top */
.left-top { 
  grid-area: 1 / 1 / 2 / 2; 
  display: flex;                
  flex-direction: column;      
  justify-content: flex-end;  
  height: 100%;            
}
/* left  bottom */
.left-bottom { grid-area: 2 / 1 / 3 / 2; }


@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 16px;
  }

  
  .right-side { grid-area: 1 / 1 / 2 / 2; }   
  .left-top { grid-area: 2 / 1 / 3 / 2; }   
  .left-bottom  { grid-area: 3 / 1 / 4 / 2; }   

  .left-side {
    padding: 20px;
    text-align: left;
  }

  .left-side .name {
    font-size: 36px;
    padding-top: 8px;
  }

  .right-side img {
    max-width: 100%;
    border-width: 4px;
  }
}
