
.bg-container {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000;
}

.bg-video {
	position: absolute;
	top: 100%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: 0;
}

.bg-overlay {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #ffffff;
	text-align: center;

}

.title {
}

.subtitle {

}


@media (max-width: 480px) {
	.title { font-size: 2rem; }
	.subtitle { font-size: 1rem; }
}
